repos:
  - repo: https://github.com/ambv/black
    rev: 23.1.0
    hooks:
    - id: black
      language_version: python3.7
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.237'
    hooks:
    - id: ruff
